/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: Noto Serif, Noto Serif JP, sans-serif;
  color: #525252;
}

html {
  font-size: 62.5%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* END Reset css*/
.header {
  height: 80px;
  background-color: rgba(31, 34, 33, 0.6);
  padding: 0 10px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.header .header-logo {
  font-size: 2.4rem;
  line-height: 80px;
  color: #fff;
}

.about-wrapper {
  padding: 0 10px;
  padding-top: 80px;
}

.about-wrapper .main-ttl {
  font-size: 5.0rem;
  line-height: 2.4em;
  letter-spacing: 0.05em;
  color: #525252;
  margin-bottom: 35px;
  text-align: center;
}

.about-wrapper .about-sec {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-wrapper .about-sec .box {
  animation-name: move;
  animation-duration: 15s;
  animation-delay: 5s;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.about-wrapper .about-sec .box:hover {
  border-radius: 50%;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateX(50px) rotate(360deg);
  }
}

.about-wrapper .about-sec .box-0 {
  width: 100px;
  height: 100px;
  margin-top: 100px;
  background-color: #ea5e29;
  transition-property: border-radius;
  transition-duration: 1s;
}

.about-wrapper .about-sec .box:hover {
  border-radius: 50%;
}

.about-wrapper .about-sec .box-1 {
  width: 50px;
  height: 50px;
  margin: 30px;
  background-color: #ecaf1f;
  transition-property: transform;
  transition-duration: 1s;
}

.about-wrapper .about-sec .box-1:hover {
  transform: translate(50px, 20px);
}

.about-wrapper .about-sec .box-2 {
  width: 50px;
  height: 50px;
  margin: 30px;
  background-color: #5e9b84;
  transition-property: transform;
  transition-duration: 1s;
}

.about-wrapper .about-sec .box-2:hover {
  transform: rotate(30deg);
}

.about-wrapper .about-sec .box-3 {
  width: 50px;
  height: 50px;
  margin: 30px;
  background-color: #f05e59;
  transition-property: transform;
  transition-duration: 1s;
}

.about-wrapper .about-sec .box-3:hover {
  transform: scale(0.5, 2);
}

.about-wrapper .about-sec .box-4 {
  width: 50px;
  height: 50px;
  margin: 30px;
  background-color: #dcbdaf;
  transition-property: transform;
  transition-duration: 1s;
}

.about-wrapper .about-sec .box-4:hover {
  transform: translateX(100px) rotate(30deg);
}

.about-wrapper .about-sec .box-5 {
  width: 50px;
  height: 50px;
  margin: 30px;
  background-color: #ea5e29;
  transition-property: transform;
  transition-duration: 1s;
}

.about-wrapper .about-sec .box-5:hover {
  transform: rotate(30deg) translateX(100px);
}

.about-wrapper .about-sec .box-5 {
  width: 100px;
  height: 100px;
  margin-top: 100px;
  background-color: #5e9b84;
  transition-property: transform;
  transition-duration: 1s;
}

.about-wrapper .about-sec .box-5:hover {
  transform: rotate(30deg) translateX(100px);
}

.ba {
  display: block;
  width: 100%;
  height: 30px;
  background: #5e9b84;
  animation-name: expansion;
  animation-duration: 20s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: normal, reverse;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes expansion {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .about-wrapper {
    widows: 1200px;
    margin: 0 auto;
  }
}

.footer {
  text-align: center;
  background-color: rgba(31, 34, 33, 0.6);
  padding: 30px 0;
}

.footer small {
  color: #fff;
}
