@charset "utf-8";

@import "asset/libs/_mixin.scss";

.about-wrapper {
    padding: 0 10px;
    padding-top: 80px;

    .main-ttl {
        @include main-ttl;
    }

    .about-sec {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

        .box {
            animation-name: move;
            animation-duration: 15s;
            animation-delay: 5s;
            animation-direction: alternate-reverse;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        .box:hover {
            border-radius: 50%;
        }

        @keyframes move {
            0% {
                opacity: 0;
            }

            40% {
                opacity: 1;
            }

            100% {
                transform: translateX(50px) rotate(360deg);
            }
        }

        .box-0 {
            width: 100px;
            height: 100px;
            margin-top: 100px;
            background-color: $carrot;
            transition-property: border-radius;
            transition-duration: 1s;
        }

        .box:hover {
            border-radius: 50%;
        }

        .box-1 {
            width: 50px;
            height: 50px;
            margin: 30px;
            background-color: $yelloo;
            transition-property: transform;
            transition-duration: 1s;
        }

        .box-1:hover {
            transform: translate(50px, 20px);
        }

        .box-2 {
            width: 50px;
            height: 50px;
            margin: 30px;
            background-color: $green;
            transition-property: transform;
            transition-duration: 1s;
        }

        .box-2:hover {
            transform: rotate(30deg);
        }

        .box-3 {
            width: 50px;
            height: 50px;
            margin: 30px;
            background-color: $pink-01;
            transition-property: transform;
            transition-duration: 1s;
        }

        .box-3:hover {
            transform: scale(.5, 2);
        }

        .box-4 {
            width: 50px;
            height: 50px;
            margin: 30px;
            background-color: $pink;
            transition-property: transform;
            transition-duration: 1s;
        }

        .box-4:hover {
            transform: translateX(100px) rotate(30deg);
        }

        .box-5 {
            width: 50px;
            height: 50px;
            margin: 30px;
            background-color: $carrot;
            transition-property: transform;
            transition-duration: 1s;
        }

        .box-5:hover {
            transform: rotate(30deg) translateX(100px);
        }

        .box-5 {
            width: 100px;
            height: 100px;
            margin-top: 100px;
            background-color: $green;
            transition-property: transform;
            transition-duration: 1s;
        }

        .box-5:hover {
            transform: rotate(30deg) translateX(100px);
        }
    }
}

.ba {
    display: block;
    width: 100%;
    height: 30px;
    background: $green;
    animation-name: expansion;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: normal, reverse;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes expansion {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@include tb {
    .about-wrapper {
        widows: 1200px;
        margin: 0 auto;

    }
}